@font-face {
    font-family: "beatrix";
    src: url("CSBeatrix-Regular_demo-BF66c5560bd4feb.otf") format("truetype");
  }
body {
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    font-family: "beatrix";
}
.title {
  font-family: "beatrix";
  vertical-align: middle;
  font-size: 50px;
  text-align: center;
  padding: 10px;
    color: white;
}
.bodyText {
  font-family: "beatrix";
    color: white;
}
.center {
    width: 80%;
    margin-left: 10%;
    display: flex;
}
span {
    padding: 10px;
}
.pic {
    padding: 1.5rem;
  width: 50%;
  height: 50%;
}

.nav-bar a {
  color: white;
  padding: 1.5rem;
  cursor: pointer;
  font-family: "beatrix";
  text-decoration: none;
  font-size: 1.2rem;
}

.header {
  padding: 1.3rem;
  display: flex;
  overflow: hidden;
    justify-content: center;
}


.nav-bar a.icon {
  background-color: transparent;
  display: block;
}
