@font-face {
    font-family: "beatrix";
    src: url("CSBeatrix-Regular_demo-BF66c5560bd4feb.otf") format("truetype");
  }
body {
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    font-family: "beatrix";
}
.title {
  font-family: "beatrix";
  vertical-align: middle;
  font-size: 50px;
  text-align: center;
  padding: 10px;
    color: white;
}
.center {
    width: 80%;
    margin-left: 10%;
}
.pic {
  width: 250px;
  height: 300px;
  margin-bottom: 2%;
}
